<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ieaadmin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IEAApp"
        tools:targetApi="28">
        <activity
            android:name=".PastEventDetails"
            android:exported="false" />
        <activity
            android:name=".MemberRenewalDetail"
            android:exported="false" />
        <activity
            android:name=".MembershipRenewal"
            android:exported="false" />
        <activity
            android:name=".MemberNotificationDetail"
            android:exported="false" />
        <activity
            android:name=".MembersNotification"
            android:exported="false" />
        <activity
            android:name=".ReferDetails"
            android:exported="false" />
        <activity
            android:name=".Refer"
            android:exported="false" />
        <activity
            android:name=".NotificationBroadcast"
            android:exported="false" />
        <activity
            android:name=".EventList"
            android:exported="false" />
        <activity
            android:name=".EventDetail"
            android:exported="false" />
        <activity
            android:name=".MemberDirectoryDetail"
            android:exported="false" />
        <activity
            android:name=".GrievanceDetail"
            android:exported="false" />
        <activity
            android:name=".memberApprovalDetail"
            android:exported="false" />
        <activity
            android:name=".member_approval"
            android:exported="false" />
        <activity
            android:name=".UserProfile"
            android:exported="false" />
        <activity
            android:name=".CoreMemberDetail"
            android:exported="false" />
        <activity
            android:name=".explore_us"
            android:exported="false" />
        <activity
            android:name=".Grievance"
            android:exported="false" />
        <activity
            android:name=".explore_menu"
            android:exported="false" />
        <activity
            android:name=".explore_iea"
            android:exported="false" />
        <activity
            android:name=".MembersDirectory"
            android:exported="false" />
        <activity
            android:name=".CoreTeamMembers"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".LandingPage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <service
            android:name=".FirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/notification_icon" />
    </application>

</manifest>